h1{
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	left: 1680px;
}

.box1{
	position: absolute;
	top: 251px;
	left: 1650px;
	width: 742px;
	height: 382px;
	background-color: rgb(196, 199, 201);
}

.box2{
	position: absolute;
	top: 630px;
	left: 1095px;
	width: 740px;
	height: 510px;
	background-color: rgb(196, 199, 201);
}

.box3{
	position: absolute;
	top: 885px;
	left: 1652px;
	width: 740px;
	height: 255px;
	background-color: rgb(196, 199, 201);
}

.judd{
	font-size: 300px;
	font-weight: 400;
}

.exhibition{
	top: 400px;
	font-size: 136px;
	font-weight: 550;
}

p{
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
}

.date{
	top: 580px;
	left: 1110px;
	font-size: 88px;
}

.time{
	top: 715px;
	left: 1110px;
	font-size: 65px;
}

img{
	position: absolute;
}

.photo{
	height: 886px;
	top: 253px;
	left: 266px;
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("background1.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
}

.moma{
	top: 915px;
	left: 1115px;
	width: 340px;

}

.location{
	text-align: left;
	font-size: 37px;
	top: 990px;
	left: 1115px;
}

.price{
	font-size: 30px;
	line-height: 40px;
	top: 880px;
	left: 2100px;
}

.members{
	top: 872px;
	left: 1930px;
	font-size: 35px;
	font-weight: 700;
}

.nonmembers{
	top: 913px;
	left: 1845px;
	font-size: 35px;
	font-weight: 700;
}

@media (max-width: 1024px) {

	h1{
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	left: 630px;
	}
	
	
	.box1{
	display: none;
	}

	.box2{
	display: none;
	}

	.box3{
	display: none;
	}

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("small.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	}

	.judd{
		top: 0px;
		font-size: 170px;
		font-weight: 400;
	}

	.exhibition{
		top: 217px;
		font-size: 79px;
		font-weight: 500;
	}

	p{
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
	}

	.date{
		top: 343px;
		left: 420px;
		font-size: 48px;
	}

	.time{
		top: 415px;
		left: 420px;
		font-size: 35px;
	}

	img{
		position: absolute;
	}

	.photo{
		height: 420px;
		top: 139.766px;
		left: 46px;
	}

	.moma{
		top: 525px;
		left: 418px;
		width: 190px;

	}

	.location{
		text-align: center;
		font-size: 20px;
		top: 570px;
		left: 420px;
	}

	.donald{
		font-size: 23px;
		top: 550px;
		left: 127px;
	}

	.price{
		font-size: 18px;
		line-height: 25px;
		top: 495px;
		left: 870px;
	}

	.members{
		top: 495px;
		left: 774px;
		font-size: 18px;
		font-weight: 700;
	}

	.nonmembers{
		top: 523px;
		left: 730px;
		font-size: 18px;
		font-weight: 700;
	}
}

@media (max-width: 414px) {

	.background{
		background-image: url("background2.jpg");
		background-size: contain;
		background-position: center;
	}

	.photo{
		display: none;
	}

	.judd{
		top: 10px;
		left: 20px;
		font-size: 170px;
	}

	.exhibition{
		left: 20px;
		top: 240px;
		font-size: 80px;
	}

	.rule{
		display: none;
	}

	.rule2{
		display: none;
	}

	.date{
		left: 10px;
		top: 418px;
		font-size: 32px;
	}

	.time{
		left: 10px;
		top: 470px;
		font-size: 25px;
	}

	.moma{
		width: 78px;
		top: 525px;
		left: 305px;
	}

	.location{
		font-size: 14px;
		top: 535px;
		left: 280px;
		color: black;
	}

	.price{
		font-size: 17px;
		line-height: 25px;
		top: 580px;
		left: 142px;
	}

	.members{
		top: 582px;
		left: 52px;
		font-size: 17px;
	}

	.nonmembers{
		top: 607px;
		left: 10px;
		font-size: 17px;
	}
	
	.donald{
	display: none;
	}
}

@media (max-width: 375px) {

	.background{
		background-image: url("background2.jpg");
		background-size: contain;
		background-position: center;
	}

	.photo{
		display: none;
	}

	.judd{
		top: -10px;
		left: 0px;
		font-size: 170px;
		transform: scale(.9);
	}

	.exhibition{
		left: 0px;
		top: 210px;
		font-size: 80px;
		transform: scale(.9);
	}

	.date{
		left: 0px;
		top: 370px;
		font-size: 32px;
		transform: scale(.9);
	}

	.time{
		left: 0px;
		top: 420px;
		font-size: 25px;
		transform: scale(.9);
	}

	.moma{
		width: 78px;
		top: 455px;
		left: 275px;
		transform: scale(1.1);
	}

	.location{
		font-size: 16px;
		top: 465px;
		left: 265px;
		color: black;
		text-align: left;
		transform: scale(.9);
	}

	.price{
		font-size: 17px;
		line-height: 25px;
		top: 520px;
		left: 122px;
		transform: scale(.9);
	}

	.members{
		top: 527px;
		left: 50px;
		font-size: 17px;
		transform: scale(.9);
	}

	.nonmembers{
		top: 550px;
		left: 10px;
		font-size: 17px;
		transform: scale(.9);
	}
	
	.donald{
	display: none;
	}
}

@media (max-width: 320px) {

	.background{
		background-image: url("background2.jpg");
		background-size: contain;
		background-position: center;
	}

	.photo{
		display: none;
	}

	.judd{
		top: 10px;
		left: 15px;
		font-size: 130px;
	}

	.exhibition{
		left: 15px;
		top: 200px;
		font-size: 42px;
	}

	.date{
		left: 15px;
		top: 325px;
		font-size: 23px;
	}

	.time{
		left: 15px;
		top: 357px;
		font-size: 17px;
	}

	.moma{
		width: 70px;
		top: 385px;
		left: 225px;
	}

	.location{
		font-size: 13px;
		top: 395px;
		left: 215px;
		color: black;
	}

	.price{
		font-size: 15px;
		line-height: 24px;
		top: 435px;
		left: 103px;
	}

	.members{
		top: 442px;
		left: 40px;
		font-size: 15px;
	}

	.nonmembers{
		top: 464px;
		left: 5px;
		font-size: 15px;
	}

	.donald{
	display: none;
	}
}