@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{

	background-color: rgb(148, 15, 40);

}

h1{
	position: absolute;
	font-family: OneDirection, sans-serif;
	color: white;
}

.OneD{
	bottom: 140px;
	left: 700px;
	font-size: 235px;
}

.Tenyear{
	bottom: 50px;
	left: 700px;
	font-size: 150px;
}

h2{
	position: absolute;
	font-family: 'Goldman', cursive;
	color: white;
 	font-weight: 700;
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("Homepage1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
	 animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-image: url("Homepage1.jpg");}
  50%  {background-image: url("homepage2.jpg");}
  100%   {background-image: url("Homepage1.jpg");}
}

.navbar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 7vh;
	background-color: rgb(255, 0, 42);
}

.logo{
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 5vh;
}

.one{
	position: absolute;
	background-image: url("onedirectionlogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 7px;
	left: 1125px;
	width: 10vw;
	height: 6vh;
	transition: all 1s;
}

.one:hover {
	background-image: url("1dlogo.png");
}

.louis{
	position: absolute;
	background-image: url("louislogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 15px;
	left: 1500px;
	width: 2vw;
	height: 4vh;
	transition: all 1s;
}

.louis:hover {
	background-image: url("louis1.png");
	width: 4vw;
	left: 1480px;
}

.harry{
	position: absolute;
	background-image: url("harrylogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 5px;
	left: 1640px;
	width: 3vw;
	height: 6vh;
	transition: all 1s;
}

.harry:hover {
	background-image: url("harry1.png");

}

.niall{
	position: absolute;
	background-image: url("nialllogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 10px;
	left: 1800px;
	height: 5vh;
	width: 3vw;
	transition: all 1s;
}

.niall:hover {
	background-image: url("niall1.png");
	transform: scale(1.1);
}

.liam{
	position: absolute;
	background-image: url("liamlogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 17px;
	left: 1950px;
	height: 4vh;
	width: 4vw;
	transition: all 1s;
}

.liam:hover {
	background-image: url("liam1.png");
	transform: scale(1.1);
}

.zayn{
	position: absolute;
	background-image: url("zaynlogo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 15px;
	left: 2120px;
	height: 5vh;
  width: 4vw;
	transition: all 1s;
}

.zayn:hover {
	background-image: url("zayn1.png");
	transform: scale(1);
}

.logos{
	position: absolute;
	bottom: 0;
	left: 310px;
}

.year{
	left: 940px;
 	bottom: -500px;
 	font-size: 250px;
}

.factorera{
	left: 950px;
 	bottom: -450px;
 	font-size: 100px;
}

.inline-block {
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -1675px;
  left: 25px;
}

.auditionlouis{
	background-image: url("auditionlouis.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.auditionlouis:hover {
	background-image: url("auditionlouis.gif");
}

.auditionharry{
	background-image: url("auditionharry1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.auditionharry:hover {
	background-image: url("harryaudition.gif");
}

.auditionniall{
	background-image: url("auditionniall.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.auditionniall:hover {
	background-image: url("auditionniall.gif");
}

.auditionliam{
	background-image: url("auditionliam.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.auditionliam:hover {
	background-image: url("auditionliam.gif");
}


.auditionzayn{
	background-image: url("auditionzayn.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.auditionzayn:hover {
	background-image: url("auditionzayn.gif");
}

.dance{
	background-image: url("dancing.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.dance:hover {
	background-image: url("dancing1.gif");
}

.sadharry{
	background-image: url("sadharry.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.sadharry:hover {
	background-image: url("sadharry.gif");
}

.sadniall{
	background-image: url("sadniall.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.sadniall:hover {
	background-image: url("sadniall.gif");
}

.sadliam{
	background-image: url("sadliam.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.sadliam:hover {
	background-image: url("sadliam.gif");
}

.formation{
	background-image: url("onedirectionform.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.formation:hover {
	background-image: url("onedirectionform.gif");
}

.performance1{
	background-image: url("xfactor1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.performance1:hover {
	background-image: url("xfactorperformance2.gif");
}

.happy{
	background-image: url("xfactorhappy.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.happy:hover {
	background-image: url("xfactorhappy.txt");
}

.videodiaries1{
	background-image: url("videodiaries.jpg");
		background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.videodiaries1:hover{
	background-image: url("videodiaries.gif");
}

.videodiaries2{
	background-image: url("videodiaries2.jpg");
		background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.videodiaries2:hover{
	background-image: url("videodiaries2.gif");
}

.videodiariesall{
background-image: url("videodiariesall.jpg");
		background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
}

.videodiariesall:hover{
background-image: url("videodiariesall.gif");
}

.allnight{
  font-size: 250px;
  left: 970px;
  bottom: -1800px;
}

.uanera{
  font-size: 100px;
  left: 860px;
  bottom: -1750px;
}

.inline-block1{
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -2075px;
  left: 25px;
	transition: all 1s;
}

.uanphotoshoot1 {
	background-image: url("UANphotoshoot1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot2 {
	background-image: url("UANphotoshoot2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot3 {
	background-image: url("UANphotoshoot3.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot4 {
	background-image: url("UANphotoshoot4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot5 {
	background-image: url("UANphotoshoot5.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot6 {
	background-image: url("UANphotoshoot6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot7 {
	background-image: url("UANphotoshoot7.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.uanphotoshoot8 {
	background-image: url("UANphotoshoot8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot9 {
	background-image: url("UANphotoshoot9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot10{
	background-image: url("2011one.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.uanphotoshoot10:hover{
	background-image: url("photoshooot.gif");
	background-position: center;
}

.uanphotoshoot11{
	background-image: url("wmyb.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot11:hover{
	background-image: url("wmyb.gif");
}

.uanphotoshoot12{
	background-image: url("photoshoot1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot12:hover {
	background-image: url("2011.gif");
}

.uanphotoshoot13{
	background-image: url("2011photo.jpg");
	background-size: cover;
	background-position: 0px -160px;
	background-repeat: no-repeat;
}

.uanphotoshoot13:hover {
	background-image: url("wedding.gif");
	background-position: center;
}

.uanphotoshoot14{
	background-image: url("onething.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.uanphotoshoot14:hover{
	background-image: url("onething.gif");
}

.uanphotoshoot15{
	background-image: url("2011.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.Home{
	 font-size: 250px;
	  left: 940px;
	  bottom: -3130px;
}

.tmhera{
	  font-size: 100px;
	  left: 800px;
	  bottom: -3080px;
}

.inline-block2{
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -2500px;
  left: 25px;
	transition: all 1s;
}

.tmhphotoshoot1 {
	background-image: url("TMHphotoshoot1.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.tmhphotoshoot2 {
	background-image: url("TMHphotoshoot2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot3 {
	background-image: url("TMHphotoshoot3.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.tmhphotoshoot4 {
	background-image: url("TMHphotoshoot4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot5 {
	background-image: url("TMHphotoshoot5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot6 {
	background-image: url("TMHphotoshoot6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot7 {
	background-image: url("TMHphotoshoot7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot8 {
	background-image: url("TMHphotoshoot8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot8:hover {
	background-image: url("lwwy.gif");
}

.tmhphotoshoot13{
	background-image: url("2012.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot9 {
	background-image: url("TMHphotoshoot9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot10 {
	background-image: url("photoshoot2012.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot11 {
	background-image: url("lwwy.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot11:hover {
	background-image: url("lwwy1.gif");
}

.tmhphotoshoot12 {
	background-image: url("kiss.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot12:hover {
	background-image: url("kiss.gif");
}

.tmhphotoshoot14 {
	background-image: url("littlethings.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot14:hover{
	background-image: url("happy2012.txt");
}

.tmhphotoshoot15 {
	background-image: url("superbowl.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tmhphotoshoot15:hover{
	background-image: url("2012.gif");
}

.memories{
	font-size: 250px;
	left: 900px;
	bottom: -4430px;
}

.mmera{
	font-size: 100px;
	left: 650px;
	bottom: -4380px;
}

.inline-block3{
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -2900px;
  left: 25px;
	transition: all 1s;
}

.mmphotoshoot1 {
	background-image: url("MMphotoshoot1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot2 {
	background-image: url("MMphotoshoot2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot3 {
	background-image: url("MMphotoshoot3.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mmphotoshoot4 {
	background-image: url("MMphotoshoot4.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mmphotoshoot5 {
	background-image: url("MMphotoshoot5.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot6 {
	background-image: url("MMphotoshoot6.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mmphotoshoot7 {
	background-image: url("MMphotoshoot7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot8 {
	background-image: url("MMphotoshoot8.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot9 {
	background-image: url("MMphotoshoot9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot10 {
	background-image: url("2013.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mmphotoshoot11 {
	background-image: url("oneway.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot11:hover{
	background-image: url("oneway.gif");
}

.mmphotoshoot12 {
	background-image: url("1dday.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot12:hover{
	background-image: url("1dday.gif");
}

.mmphotoshoot13 {
	background-image: url("thisisus.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot13:hover{
	background-image: url("thisisus.gif");
}

.mmphotoshoot14 {
	background-image: url("us.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mmphotoshoot14:hover{
	background-image: url("us.gif");
}

.mmphotoshoot15 {
	background-image: url("mm.png");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mmphotoshoot15:hover{
	background-image: url("mm.txt");
}

.four{
	font-size: 250px;
	left: 945px;
	bottom: -5700px;
}

.fourera{
	font-size: 100px;
	left: 1045px;
	bottom: -5650px;
}

.inline-block4{
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -3275px;
  left: 25px;
  transition: all 1s;
}

.fourphotoshoot1 {
	background-image: url("Fourphotoshoot1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot2 {
	background-image: url("FourPhotoshoot2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot3 {
	background-image: url("FourPhotoshoot3.png");
	background-size: cover;
	background-position: 0 -150px;
	background-repeat: no-repeat;
}

.fourphotoshoot4 {
	background-image: url("FourPhotoshoot4.jpg");
	background-size: cover;
	background-position: 0 -50px;
	background-repeat: no-repeat;
}

.fourphotoshoot5 {
	background-image: url("FourPhotoshoot5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot6 {
	background-image: url("all.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.fourphotoshoot14 {
	background-image: url("FourPhotoshoot6.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.fourphotoshoot14:hover {
	background-image: url("FourPhotoshoot.gif");
	}

.fourphotoshoot7 {
	background-image: url("FourPhotoshoot7.jpg");
	background-size: cover;
	background-position: 0 -40px;
	background-repeat: no-repeat;
}

.fourphotoshoot8 {
	background-image: url("FourPhotoshoot8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot9 {
	background-image: url("FourPhotoshoot9.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot10 {
	background-image: url("2014.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot11 {
	background-image: url("amas.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot11:hover{
	background-image: url("amas.txt");
}

.fourphotoshoot12 {
	background-image: url("amas2014.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.fourphotoshoot12:hover{
	background-image: url("2014amas.gif");
	background-position: center;
}

.fourphotoshoot13 {
	background-image: url("sansiro.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fourphotoshoot13:hover{
	background-image: url("where.txt");
}

.fourphotoshoot15{
	background-image: url("steal.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.fourphotoshoot15:hover{
	background-image: url("steal.gif");
}

.MITAM{
	font-size: 250px;
	left: 950px;
	bottom: -6980px;
}

.mitamera{
	font-size: 100px;
	left: 740px;
	bottom: -6930px;
}

.inline-block5{
  position: relative;
  	width: 480px;
	height: 275px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: -3650px;
  left: 25px;
	transition: all 1s;
}

.mitamphotoshoot1{
	background-image: url("MITAMphotoshoot1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot2 {
	background-image: url("MITAMphotoshoot2.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mitamphotoshoot3{
	background-image: url("MITAMphotoshoot3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot4{
	background-image: url("MITAMphotoshoot4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot5{
	background-image: url("MITAMphotoshoot5.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mitamphotoshoot6 {
	background-image: url("MITAMphotoshoot6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot7 {
	background-image: url("MITAMphotoshoot7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot8 {
	background-image: url("MITAMphotoshoot8.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mitamphotoshoot9 {
	background-image: url("MITAMphotoshoot9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot10 {
	background-image: url("mitamphotoshoot10.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.mitamphotoshoot11 {
	background-image: url("drag.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot11:hover {
	background-image: url("drag.gif");
	}

.mitamphotoshoot12 {
	background-image: url("drag1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot12:hover {
	background-image: url("drag2.gif");
	}

.mitamphotoshoot13 {
	background-image: url("history.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot13:hover {
	background-image: url("historygif.gif");
	}

.mitamphotoshoot14 {
	background-image: url("last.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot14:hover {
	background-image: url("last.gif");
}

.mitamphotoshoot15 {
	background-image: url("last1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mitamphotoshoot15:hover {
	background-image: url("last1.gif");
}

@media (max-width: 1024px){
	

	.year{
		left: 65px;
	 	bottom: -200px;
	 	font-size: 85px;
	}

	.OneD{
		bottom: 80px;
		left: 170px;
		font-size: 130px;
	}

	.Tenyear{
		bottom: 30px;
		left: 170px;
		font-size: 85px;
	}

	.inline-block {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -950px;
	  left: 15px;
	}

	.one{
		position: absolute;
		bottom: 10px;
		left: 100px;
		height: 4vh;
	}

	.louis{
		position: absolute;
		bottom: 10px;
		left: 300px;
		height: 4vh;
	}

	.louis:hover{
		left: 300px;
	}

	.harry{
		position: absolute;
		bottom: 7px;
		left: 375px;
		height: 5vh;
	}

	.harry:hover {
		background-image: url("harry1.png");
	}

	.niall{
		position: absolute;
		bottom: 7px;
		left: 450px;
		height: 4.5vh;
	}

	.liam{
		position: absolute;
		bottom: 12px;
		left: 525px;
		height: 4vh;
	}

	.zayn{
		position: absolute;
		bottom: 10px;
		left: 625px;
		height: 5vh;
	}

	.logos{
		position: absolute;
		bottom: 0;
	}

	.inline-block1 {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -1250px;
	  left: 15px;
	}

	.inline-block2 {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -1550px;
	  left: 15px;
	}

	.inline-block3 {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -1850px;
	  left: 15px;
	}

	.inline-block4 {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -2150px;
	  left: 15px;
	}

	.inline-block5 {
	  position: relative;
	  width: 180px;
      height: 103px;
	  background-color: rgb(32, 180, 63);
	  position: center;
	  display: inline-block;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  bottom: -2450px;
	  left: 15px;
	}

	.year{
	left: 320px;
 	bottom: -320px;
 	font-size: 150px;
}

	.factorera{
	left: 360px;
 	bottom: -270px;
 	font-size: 50px;
}

.allnight{
	left: 320px;
 	bottom: -990px;
 	font-size: 150px;
}

	.uanera{
	left: 300px;
 	bottom: -940px;
 	font-size: 50px;
}

.Home{
	left: 320px;
 	bottom: -1650px;
 	font-size: 150px;
}

	.tmhera{
	left: 270px;
 	bottom: -1600px;
 	font-size: 50px;
}


.memories{
	left: 320px;
 	bottom: -2320px;
 	font-size: 150px;
}

	.mmera{
	left: 200px;
 	bottom: -2270px;
 	font-size: 50px;
}

.four{
	left: 320px;
 	bottom: -2990px;
 	font-size: 150px;
}

	.fourera{
	left: 410px;
 	bottom: -2940px;
 	font-size: 50px;
}

.MITAM{
	left: 320px;
 	bottom: -3650px;
 	font-size: 150px;
}

	.mitamera{
	left: 250px;
 	bottom: -3600px;
 	font-size: 50px;
}

.uanphotoshoot13{
	background-image: url("2011photo.jpg");
	background-size: cover;
	background-position: 0px -60px;
	background-repeat: no-repeat;
}

.uanphotoshoot13:hover {
	background-image: url("wedding.gif");
	background-position: center;
}

.fourphotoshoot3 {
	background-image: url("FourPhotoshoot3.png");
	background-size: cover;
	background-position: 0 -60px;
	background-repeat: no-repeat;
}
.fourphotoshoot4 {
	background-image: url("FourPhotoshoot4.jpg");
	background-size: cover;
	background-position: 0 -20px;
	background-repeat: no-repeat;
}
.fourphotoshoot7 {
	background-image: url("FourPhotoshoot7.jpg");
	background-size: cover;
	background-position: 0 -20px;
	background-repeat: no-repeat;
}
}