.day {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	animation-name: anim1;
	animation-duration: 15s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.hour {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 6vh;
  background-color: maroon;
  animation-name: animationa;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.hour1 {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 6vh;
  background-color: maroon;
  animation-name: animationa;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-delay: 20s;
  animation-iteration-count: infinite;
}

.hour2 {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 6vh;
  background-color: maroon;
  animation-name: animationa;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-delay: 40s;
  animation-iteration-count: infinite;
}

.minute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  background-color: yellow;
  animation-name: animationc;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.minute1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  background-color: yellow;
  animation-name: animationc;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}

.minute2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  background-color: yellow;
  animation-name: animationc;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-delay: 20s;
  animation-iteration-count: infinite;
}

.second {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1vw;
  height: 100vh;
  background-color: orange;
  animation-name: animationb;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.second1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1vw;
  height: 100vh;
  background-color: orange;
  animation-name: animationb;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
.second2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1vw;
  height: 100vh;
  background-color: orange;
  animation-name: animationb;
  animation-duration: 9s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}

@keyframes animationa {
  0% {
    top: 0;
  }

  100% {
   top: 100vh;
  }
}

@keyframes animationb {
  0% {
    left: 0px;
  }

  100% {
   left: 100vw;
  }
}

@keyframes animationc {
  0% {
    top: 100vh;
  }

  100% {
   top: 0;
  }
}

@keyframes anim1 {
	
	0% {
		background-color: rgb(152, 201, 246); 
	}

	25% {
		background-color: rgb(84, 120, 156); 
	}

	50% {
		background-color: rgb(11, 35, 61); 
	}

	75% {
		background-color: rgb(84, 120, 156); 
	}

	100% {
		background-color: rgb(152, 201, 246); 
	}
}