h1{
	color: maroon;
}

h2{
	color: rgb(200, 0, 200);
}

img{
	width: 350px;
	opacity: 0.8;
}

p{
	width: 500px;
}

ol{
	background-color: rgb(255, 240, 200);
	width: 500px;
}

.intro{
	color: rgb(200, 50, 100);
}

.second{
	color: rgb(160,150,200)
}