@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{
  background-color: rgb(148, 15, 40);

}

.navbar1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 0, 42);
  z-index: 120;
}

.logo1{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 5vh;
}

.one1{
 position: fixed;
  background-image: url("onedirectionlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1200px;
  width: 9vw;
  height: 6vh;
transition: all 1s;
}

.one1:hover {
  background-image: url("1dlogo.png");
}

.louis1{
  position: fixed;
  background-image: url("louislogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1500px;
  width: 3vw;
  height: 4vh;
  transition: all 1s;
}

.louis1:hover {
  background-image: url("louis1.png");
  width: 4vw;
  left: 1480px;
}

.harry1{
  position: fixed;
  background-image: url("harrylogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1640px;
  width: 3vw;
  height: 6vh;
  transition: all 1s;
}

.harry1:hover {
  background-image: url("harry1.png");
}

.niall1{
  position: fixed;
  background-image: url("nialllogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1800px;
  height: 5vh;
  width: 3vw;
  transition: all 1s;
}

.niall1:hover {
  background-image: url("niall1.png");
  transform: scale(1.1);
}

.liam1{
  position: fixed;
  background-image: url("liamlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 17px;
  left: 1950px;
  height: 4vh;
  width: 4vw;
  transition: all 1s;
}

.liam1:hover {
  background-image: url("liam1.png");
  transform: scale(1.1);
}

.zayn1{
position: fixed;
  background-image: url("zaynlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 2120px;
  height: 5vh;
  width: 4vw;
  transition: all 1s;
}

.zayn1:hover {
  background-image: url("zayn1.png");
  transform: scale(1);
}

.logos1{
  position: fixed;
  top: 0;
  left: 350px;
}

h1{
  position: absolute;
  font-family: OneDirection, sans-serif;
  color: white;
}

.payno{
  font-size: 200px;
  left: 820px;
  top: 100px;
}

h2{
  position: absolute;
  font-family: 'Goldman', cursive;
  color: white;
  font-weight: 700;
}

img{
  position: absolute;
}

.payno2{
  transform: scale(.4);
  top: -290px;
  left: 1807px;
}

.payno1{
  transform: scale(.9);
  top: 40px;
  left: -30px;
}

.inline-block {
  position: relative;
  width: 397px;
  height: 397px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 500px;
  left: 25px;
  transition: all 1s;
}

.xfactorliam{
  background-image: url(liampayne.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.xfactorliam:hover{
  background-image: url("liamxfactor.txt");
  background-position: center;
}

.uanliam {
  background-image: url("uanliam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.uanliam:hover{
  background-image: url("2011liam.gif");
}

.tmhliam{
  background-image: url("TMHliam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tmhliam:hover{
  background-image: url(liamm.txt);
}

.mmliam {
  background-image: url("MMliam.jpg");
  background-size: cover;
  background-position: 0px -50px;
  background-repeat: no-repeat;
}

.mmliam:hover{
  background-image: url(2013liam.gif);
  background-position: center;
}

.fourliam {
  background-image: url("Fourliam.jpg");
  background-size: cover;
  background-position: 0px -50px;
  background-repeat: no-repeat;
}

.fourliam:hover{
  background-image: url("fourliam.gif");
  background-position: center;
}

.mitamliam {
  background-image: url("MITAMliam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mitamliam:hover{
  background-image: url(2016liam.txt);
}

.afterliam{
  background-image: url("liamafter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.afterliam:hover{
  background-image: url("2016liam.gif");
}

.downliam{
  background-image: url("downliam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.downliam:hover {
  background-image: url(downliam.gif);
}

.familiarliam{
  background-image: url("familiarliam.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.familiarliam:hover {
  background-image: url("familiarliam.gif");
}

.lp1liam{
  background-image: url("2019liam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lp1liam:hover{
  background-image: url("2019liam.gif");
}

.quarantineliam{
  background-image: url("nowliamm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quarantineliam:hover{
  background-image: url("2020liam.gif");
}

.evolution{
  background-image: url("liamevolve.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.evolution:hover{
  background-image: url("beforeafterliam.gif");
}

iframe {
  display: none;
  position: absolute;
  transition: all 1s;
}

.lp1album{
  font-size: 100px;
  left: 1170px;
  top: 1480px;
}

.inline-block1{
  position: relative;
  width: 397px;
  height: 497px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 875px;
  left: 25px;
  transition: all 1s;
  background-image: url("lp1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.midnight:hover .midnightsong {
  display: block;
}

.midnight:after {
  position: absolute;
  content: "1. Midnight ft. Alesso";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.stack:hover .stacksong {
  display: block;
}

.stack:after {
  position: absolute;
  content: "2. Stack It Up ft A Boogie Wit da Hoodie";
  bottom: 15px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 30px;
}

.remember:hover .remembersong {
  display: block;
}

.remember:after {
  position: absolute;
  content: "3. Remember";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.break:hover .breaksong {
  display: block;
}

.break:after {
  position: absolute;
  content: "4. Heart Meet Break";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.hips:hover .hipssong {
  display: block;
}

.hips:after {
  position: absolute;
  content: "5. Hips Don't Lie";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.friends:hover .friendssong {
  display: block;
}

.friends:after {
  position: absolute;
  content: "6. Tell Your Friends";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.say:hover .saysong {
  display: block;
}

.say:after {
  position: absolute;
  content: "7. Say It All";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.rude:hover .rudesong {
  display: block;
}

.rude:after {
  position: absolute;
  content: "8. Rude Hours";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.live:hover .livesong {
  display: block;
}

.live:after {
  position: absolute;
  content: "9. Live Forever ft. Cheat Codes";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.weekend:hover .weekendsong {
  display: block;
}

.weekend:after {
  position: absolute;
  content: "10. Weekend";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.both:hover .bothsong {
  display: block;
}

.both:after {
  position: absolute;
  content: "11. Both Ways";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.strip:hover .stripsong {
  display: block;
}

.strip:after {
  position: absolute;
  content: "12. Strip That Down ft. Quavo";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.you:hover .yousong {
  display: block;
}

.you:after {
  position: absolute;
  content: "13. For You ft. Rita Ora";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.familiar:hover .familiarsong {
  display: block;
}

.familiar:after {
  position: absolute;
  content: "14. Familiar ft J. Balvin";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.polaroid:hover .polaroidsong {
  display: block;
}

.polaroid:after {
  position: absolute;
  content: "15. Polaroid ft. Jonas Blue & Lennon Stella";
  bottom: 15px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 30px;
}

.low:hover .lowsong {
  display: block;
}

.low:after {
  position: absolute;
  content: "16. Get Low ft. Zedd";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.bedroom:hover .bedroomsong {
  display: block;
}

.bedroom:after {
  position: absolute;
  content: "17.  Bedroom Floor";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.want:hover .wantsong {
  display: block;
}

.want:after {
  position: absolute;
  content: "18.  All I Want (For Christmas)";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

@media (max-width: 1024px){
  .navbar1{
    position: fixed;
  }

  .one1{
    position: fixed;
    top: 10px;
    left: 470px;
    height: 4vh;
  }

  .louis1{
    position: fixed;
    top: 10px;
    left: 600px;
    height: 4vh;
  }

  .louis1:hover {
    left: 600px;
  }

  .harry1{
    position: fixed;
    top: 5px;
    left: 675px;
    height: 5vh;
  }

  .niall1{
    position: fixed;
    top: 7px;
    left: 750px;
    height: 5vh;
  }

  .liam1{
    position: fixed;
    top: 10px;
    left: 825px;
    height: 4vh;
  }

  .zayn1{
    position: fixed;
    top: 8px;
    left: 920px;
    height: 5vh;
  }

    .payno{
    font-size: 80px;
    left: 250px;
    top: 50px;
    }

    .payno1{
      transform: scale(.58);
      top: -70px;
      left: -163px;
    }

    .payno2{
      transform: scale(.17);
      top: -470px;
      left: 405px;
    }

    .inline-block {
    position: relative;
    width: 147px;
    height: 147px;
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 200px;
    left: 15px;
  }

.lp1album{
   font-size: 70px;
    top: 580px;
    left: 450px
}

.all1:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .all11:after {
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

    .all111:after {
    bottom: 5px;
    left: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  .all1111:after{
     bottom: 5px;
    left: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .low:after{
    font-size: 15px;
  }

  .friends:after{
    font-size: 15px;
  }

.album1{
    width: 147px;
    height: 147px;
}

    .inline-block1 {
    position: relative;
    width: 147px;
    height: 197px;
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 400px;
    left: 15px;
  }

  }