@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{

  background-color: rgb(148, 15, 40);

}

.navbar1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 0, 42);
  z-index: 120;
}

.logo1{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 5vh;
}

.one1{
 position: fixed;
  background-image: url("onedirectionlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1200px;
  width: 9vw;
  height: 6vh;
transition: all 1s;
}

.one1:hover {
  background-image: url("1dlogo.png");
}

.louis1{
  position: fixed;
  background-image: url("louislogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1500px;
  width: 3vw;
  height: 4vh;
  transition: all 1s;
}

.louis1:hover {
  background-image: url("louis1.png");
  width: 4vw;
  left: 1480px;
}

.harry1{
  position: fixed;
  background-image: url("harrylogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1640px;
  width: 3vw;
  height: 6vh;
  transition: all 1s;
}

.harry1:hover {
  background-image: url("harry1.png");
}

.niall1{
  position: fixed;
  background-image: url("nialllogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1800px;
  height: 5vh;
  width: 3vw;
  transition: all 1s;
}

.niall1:hover {
  background-image: url("niall1.png");
  transform: scale(1.1);
}

.liam1{
  position: fixed;
  background-image: url("liamlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 17px;
  left: 1950px;
  height: 4vh;
  width: 4vw;
  transition: all 1s;
}

.liam1:hover {
  background-image: url("liam1.png");
  transform: scale(1.1);
}

.zayn1{
position: fixed;
  background-image: url("zaynlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 2120px;
  height: 5vh;
  width: 4vw;
  transition: all 1s;
}

.zayn1:hover {
  background-image: url("zayn1.png");
  transform: scale(1);
}

.logos1{
position: fixed;
  top: 0;
  left: 350px;
}

h1{
  position: absolute;
  font-family: OneDirection, sans-serif;
  color: white;
}

.jukebox{
  font-size: 200px;
  left: 400px;
  top: 0;
}

.line{
  width: 1375px;
  height: 200px;
  border-top: 5px dotted white;
  position: absolute;
  top: 370px;
  left: 605px;
}

h2{
  position: absolute;
  font-family: 'Goldman', cursive;
  color: white;
  font-weight: 700;
}

.allnight{
  font-size: 100px;
  left: 1000px;
  top: 350px;
}

.inline-block {
  position: relative;
  width: 325px;
	height: 425px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 575px;
  left: 250px;
  background-image: url("UANcover.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

iframe {
  display: none;
  position: absolute;
  transition: all 1s;
}

.wmyb:hover .wmybsong {
  display: block;
}

.wmyb:after {
  position: absolute;
  content: "1. What Makes You Beautiful";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.gby:hover .gbysong {
  display: block;
}

.gby:after {
  position: absolute;
  content: "2. Gotta Be You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.onething:hover .thingsong {
  display: block;
}

.onething:after {
  position: absolute;
  content: "3. One Thing";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.MTT:hover .MTTsong {
  display: block;
}

.MTT:after {
  position: absolute;
  content: "4. More Than This";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}


.UAN:hover .UANsong {
  display: block;
}

.UAN:after {
  position: absolute;
  content: "5. Up All Night";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.wish:hover .wishsong {
  display: block;
}

.wish:after {
  position: absolute;
  content: "6. I Wish";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.lie:hover .liesong {
  display: block;
}

.lie:after {
  position: absolute;
  content: "7. Tell Me a Lie";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.taken:hover .takensong {
  display: block;
}

.taken:after {
  position: absolute;
  content: "8. Taken";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.want:hover .wantsong {
  display: block;
}

.want:after {
  position: absolute;
  content: "9. I Want";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.you:hover .yousong {
  display: block;
}

.you:after {
  position: absolute;
  content: "10. Everything About You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.mistakes:hover .mistakessong {
  display: block;
}

.mistakes:after {
  position: absolute;
  content: "11. Same Mistakes";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.tonight:hover .tonightsong {
  display: block;
}

.tonight:after {
  position: absolute;
  content: "12. Save You Tonight";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.heart:hover .heartsong {
  display: block;
}

.heart:after {
  position: absolute;
  content: "13. Stole My Heart";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.up:hover .upsong {
  display: block;
}

.up:after {
  position: absolute;
  content: "14. Stand Up";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.moments:hover .momentssong {
  display: block;
}

.moments:after {
  position: absolute;
  content: "15. Moments";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.world:hover .worldsong {
  display: block;
}

.world:after {
  position: absolute;
  content: "16. Another World";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.na:hover .nasong {
  display: block;
}

.na:after {
  position: absolute;
  content: "17. Na Na Na";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.kissed:hover .kissedsong {
  display: block;
}

.kissed:after {
  position: absolute;
  content: "18. I Should've Kissed You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.Home{
  font-size: 100px;
  left: 900px;
  top: 1970px;
}

.inline-block1 {
  position: relative;
  width: 395px;
  height: 495px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 850px;
  left: 250px;
    background-image: url("takemehomecover.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.lwwy:hover .lwwysong {
  display: block;
}

.lwwy:after {
  position: absolute;
  content: "1. Live While We're Young";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.kiss:hover .kisssong {
  display: block;
}

.kiss:after {
  position: absolute;
  content: "2. Kiss You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.things:hover .thingssong {
  display: block;
}

.things:after {
  position: absolute;
  content: "3. Little Things";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.cmon:hover .cmonsong {
  display: block;
}

.cmon:after {
  position: absolute;
  content: "4. C'mon C'mon";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.lastfirst:hover .lastfirstsong {
  display: block;
}

.lastfirst:after {
  position: absolute;
  content: "5. Last First Kiss";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.heartattack:hover .heartattacksong {
  display: block;
}

.heartattack:after {
  position: absolute;
  content: "6. Heart Attack";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.rock:hover .rocksong {
  display: block;
}

.rock:after {
  position: absolute;
  content: "7. Rock Me";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.change:hover .changesong {
  display: block;
}

.change:after {
  position: absolute;
  content: "8. Change My Mind";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.would:hover .wouldsong {
  display: block;
}

.would:after {
  position: absolute;
  content: "9. I Would";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.overagain:hover .overagainsong {
  display: block;
}

.overagain:after {
  position: absolute;
  content: "10. Over Again";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.back:hover .backsong {
  display: block;
}

.back:after {
  position: absolute;
  content: "11. Back For You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.know:hover .knowsong {
  display: block;
}

.know:after {
  position: absolute;
  content: "12. They Don't Know About Us";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.summer:hover .summersong {
  display: block;
}

.summer:after {
  position: absolute;
  content: "13. Summer Love";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.afraid:hover .afraidsong {
  display: block;
}

.afraid:after {
  position: absolute;
  content: "14. She's Not Afraid";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.lovedyou:hover .lovedyousong {
  display: block;
}

.lovedyou:after {
  position: absolute;
  content: "15. Loved You First";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.compares:hover .comparessong {
  display: block;
}

.compares:after {
  position: absolute;
  content: "16. Nobody Compares";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.still:hover .stillsong {
  display: block;
}

.still:after {
  position: absolute;
  content: "17. Still The One";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.truly:hover .trulysong {
  display: block;
}

.truly:after {
  position: absolute;
  content: "18. Truly, Madly, Deeply";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.magic:hover .magicsong {
  display: block;
}

.magic:after {
  position: absolute;
  content: "19. Magic";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.irresistible:hover .irresistiblesong {
  display: block;
}

.irresistible:after {
  position: absolute;
  content: "20. Irresistible";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.memories{
  font-size: 100px;
  left: 800px;
  top: 4320px;
}

.inline-block2 {
  position: relative;
  width: 325px;
  height: 425px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 1125px;
  left: 250px;
  background-image: url("midnightmemoriescover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.best:hover .bestsong {
  display: block;
}

.best:after {
  position: absolute;
  content: "1. Best Song Ever";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.story:hover .storysong {
  display: block;
}

.story:after {
  position: absolute;
  content: "2. Story of My Life";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.diana:hover .dianasong {
  display: block;
}

.diana:after {
  position: absolute;
  content: "3. Diana";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.midnight:hover .midnightsong {
  display: block;
}

.midnight:after {
  position: absolute;
  content: "4. Midnight Memories";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.i:hover .isong {
  display: block;
}

.i:after {
  position: absolute;
  content: "5. You & I";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.forget:hover .forgetsong {
  display: block;
}

.forget:after {
  position: absolute;
  content: "6. Don't Forget Where You Belong";
  bottom: 20px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: white;
}

.strong:hover .strongsong {
  display: block;
}

.strong:after {
  position: absolute;
  content: "7. Strong";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.happily:hover .happilysong {
  display: block;
}

.happily:after {
  position: absolute;
  content: "8. Happily";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.now:hover .nowsong {
  display: block;
}

.now:after {
  position: absolute;
  content: "9. Right Now";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.dress:hover .dresssong {
  display: block;
}

.dress:after {
  position: absolute;
  content: "10. Little Black Dress";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.dark:hover .darksong {
  display: block;
}

.dark:after {
  position: absolute;
  content: "11. Through The Dark";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.great:hover .greatsong {
  display: block;
}

.great:after {
  position: absolute;
  content: "12. Something Great";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.little:hover .littlesong {
  display: block;
}

.little:after {
  position: absolute;
  content: "13. Little White Lies";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.words:hover .wordssong {
  display: block;
}

.words:after {
  position: absolute;
  content: "14. Better Than Words";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.gothere:hover .gotheresong {
  display: block;
}

.gothere:after {
  position: absolute;
  content: "15. Why Don't We Go There";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.doeshe:hover .doeshesong {
  display: block;
}

.doeshe:after {
  position: absolute;
  content: "16. Does He Know?";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.alive:hover .alivesong {
  display: block;
}

.alive:after {
  position: absolute;
  content: "17. Alive";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.half:hover .halfsong {
  display: block;
}

.half:after {
  position: absolute;
  content: "18. Half a Heart";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.four{
  font-size: 100px;
  left: 1150px;
  top: 5920px;
}

.inline-block3 {
  position: relative;
  width: 500px;
  height: 600px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 1370px;
  left: 250px;
  background-image: url("fourcover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.girl:hover .girlsong {
  display: block;
}

.girl:after {
  position: absolute;
  content: "1. Steal My Girl";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.run:hover .runsong {
  display: block;
}

.run:after {
  position: absolute;
  content: "2. Ready to Run";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.broken:hover .brokensong {
  display: block;
}

.broken:after {
  position: absolute;
  content: "3. Where Do Broken Hearts Go";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.eighteen:hover .eighteensong {
  display: block;
}

.eighteen:after {
  position: absolute;
  content: "4. 18";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.almighty:hover .almightysong {
  display: block;
}

.almighty:after {
  position: absolute;
  content: "5. Girl Almighty";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.fool:hover .foolsong {
  display: block;
}

.fool:after {
  position: absolute;
  content: "6. Fool's Gold";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.nightchanges:hover .nightchangessong {
  display: block;
}

.nightchanges:after {
  position: absolute;
  content: "7. Night Changes";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.control:hover .controlsong {
  display: block;
}

.control:after {
  position: absolute;
  content: "8. No Control";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.fireproof:hover .fireproofsong {
  display: block;
}

.fireproof:after {
  position: absolute;
  content: "9. Fireproof";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.spaces:hover .spacessong {
  display: block;
}

.spaces:after {
  position: absolute;
  content: "10. Spaces";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.stockholm:hover .stockholmsong {
  display: block;
}

.stockholm:after {
  position: absolute;
  content: "11. Stockholm Syndrome";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.clouds:hover .cloudssong {
  display: block;
}

.clouds:after {
  position: absolute;
  content: "12. Clouds";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.ticket:hover .ticketsong {
  display: block;
}

.ticket:after {
  position: absolute;
  content: "13. Change Your Ticket";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.illusion:hover .illusionsong {
  display: block;
}

.illusion:after {
  position: absolute;
  content: "14. Illusion";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.lifetime:hover .lifetimesong {
  display: block;
}

.lifetime:after {
  position: absolute;
  content: "15. Once in a Lifetime";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.age:hover .agesong {
  display: block;
}

.age:after {
  position: absolute;
  content: "16. Act Your Age";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.MITAM{
  font-size: 100px;
  left: 850px;
  top: 8620px;
}

.inline-block4 {
  position: relative;
  width: 500px;
  height: 600px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 1570px;
  left: 250px;
  background-repeat: no-repeat;
  background-image: url("mitamcover.jpg");
  background-size: contain;
  background-position: top;
}

.angel:hover .angelsong {
  display: block;
}

.angel:after {
  position: absolute;
  content: "1. Hey Angel";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.down:hover .downsong {
  display: block;
}

.down:after {
  position: absolute;
  content: "2. Drag Me Down";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.perfect:hover .perfectsong {
  display: block;
}

.perfect:after {
  position: absolute;
  content: "3. Perfect";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.infinity:hover .infinitysong {
  display: block;
}

.infinity:after {
  position: absolute;
  content: "4. Infinity";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.end:hover .endsong {
  display: block;
}

.end:after {
  position: absolute;
  content: "5. End of the Day";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.fly:hover .flysong {
  display: block;
}

.fly:after {
  position: absolute;
  content: "6. If I Could Fly";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.way:hover .waysong {
  display: block;
}

.way:after {
  position: absolute;
  content: "7. Long Way Down";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.never:hover .neversong {
  display: block;
}

.never:after {
  position: absolute;
  content: "8. Never Enough";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.olivia:hover .oliviasong {
  display: block;
}

.olivia:after {
  position: absolute;
  content: "9. Olivia";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.feeling:hover .feelingsong {
  display: block;
}

.feeling:after {
  position: absolute;
  content: "10. What a Feeling";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.goodbye:hover .goodbyesong {
  display: block;
}

.goodbye:after {
  position: absolute;
  content: "11. Love You Goodbye";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.write:hover .writesong {
  display: block;
}

.write:after {
  position: absolute;
  content: "12. I Want to Write You a Song";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.history:hover .historysong {
  display: block;
}

.history:after {
  position: absolute;
  content: "13. History";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.temporary:hover .temporarysong {
  display: block;
}

.temporary:after {
  position: absolute;
  content: "14. Temporary Fix";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.wind:hover .windsong {
  display: block;
}

.wind:after {
  position: absolute;
  content: "15. Walking in the Wind";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.wolves:hover .wolvessong {
  display: block;
}

.wolves:after {
  position: absolute;
  content: "16. Wolves";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

.am:hover .amsong {
  display: block;
}

.am:after {
  position: absolute;
  content: "17. A.M.";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: white;
}

@media (max-width: 1024px){
  
    .navbar1{
    position: fixed;
  }

  .one1{
    position: fixed;
    top: 10px;
    left: 470px;
    height: 4vh;
  }

  .louis1{
    position: fixed;
    top: 10px;
    left: 600px;
    height: 4vh;
  }

  .louis1:hover {
    left: 600px;
  }

  .harry1{
    position: fixed;
    top: 5px;
    left: 675px;
    height: 5vh;
  }

  .niall1{
    position: fixed;
    top: 7px;
    left: 750px;
    height: 5vh;
  }

  .liam1{
    position: fixed;
    top: 10px;
    left: 825px;
    height: 4vh;
  }

  .zayn1{
    position: fixed;
    top: 8px;
    left: 920px;
    height: 5vh;
  }

  .logos1{
    position: absolute;
    top: 0;
  }

  .jukebox{
  font-size: 80px;
  left: 150px;
  top: 20px;
  }

  .line{
  width: 632px;
  height: 200px;
  border-top: 5px dotted white;
  position: absolute;
  top: 170px;
  left: 205px;
  }

  .allnight{
  font-size: 50px;
  left: 350px;
  top: 160px;
  }

  .inline-block {
    position: relative;
    width: 150px;
    height: 200px;
    background-color: rgb(182, 30, 63);
    position: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    top: 275px;
    left: 20px;
  }

  .wmyb:after {
  bottom: 5px;
  left: 12px;
  font-size: 16px;
  line-height: 20px;
  }
  
  .gby:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .onething:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .MTT:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .UAN:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .wish:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .lie:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .taken:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .want:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .you:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px
  }

  .mistakes:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .tonight:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .heart:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .up:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .moments:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .world:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .na:after {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }

  .kissed:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

.album1{
    width: 150px;
    height: 150px;
}


  .Home{
  font-size: 50px;
  left: 340px;
  top: 900px;
  }

  .inline-block1 {
    position: relative;
    width: 179px;
    height: 229px;
    background-color: rgb(182, 30, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 375px;
    left: 20px;
  }

  .all1:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .all11:after {
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .album2 {
    width: 179px;
    height: 179px;
  }

  .memories{
  font-size: 50px;
  left: 250px;
  top: 2000px;
  }

  .inline-block2 {
    position: relative;
    width: 145px;
    height: 195px;
    background-color: rgb(182, 30, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 485px;
    left: 20px;
  }

  .album3 {
    width: 145px;
    height: 145px;
  }

  .little:after{
    font-size: 15px;
  }

  .four{
  font-size: 50px;
  left: 450px;
  top: 2760px;
  }

  .inline-block3 {
    position: relative;
    width: 227px;
    height: 277px;
    background-color: rgb(182, 30, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 600px;
    left: 20px;
  }

  .album4 {
    width: 227px;
    height: 227px;
  }
  
  .MITAM{
    font-size: 50px;
    left: 300px;
    top: 4070px;
  }

  .inline-block4 {
    position: relative;
    width: 227px;
    height: 277px;
    background-color: rgb(182, 30, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 735px;
    left: 20px;
  }
}