@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{
  background-color: rgb(148, 15, 40);

}

.navbar1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 0, 42);
  z-index: 120;
}

.logo1{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 5vh;
}

.one1{
 position: fixed;
  background-image: url("onedirectionlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1200px;
  width: 9vw;
  height: 6vh;
transition: all 1s;
}

.one1:hover {
  background-image: url("1dlogo.png");
}

.louis1{
  position: fixed;
  background-image: url("louislogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1500px;
  width: 3vw;
  height: 4vh;
  transition: all 1s;
}

.louis1:hover {
  background-image: url("louis1.png");
  width: 4vw;
  left: 1480px;
}

.harry1{
  position: fixed;
  background-image: url("harrylogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1640px;
  width: 3vw;
  height: 6vh;
  transition: all 1s;
}

.harry1:hover {
  background-image: url("harry1.png");
}

.niall1{
  position: fixed;
  background-image: url("nialllogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1800px;
  height: 5vh;
  width: 3vw;
  transition: all 1s;
}

.niall1:hover {
  background-image: url("niall1.png");
  transform: scale(1.1);
}

.liam1{
  position: fixed;
  background-image: url("liamlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 17px;
  left: 1950px;
  height: 4vh;
  width: 4vw;
  transition: all 1s;
}

.liam1:hover {
  background-image: url("liam1.png");
  transform: scale(1.1);
}

.zayn1{
position: fixed;
  background-image: url("zaynlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 2120px;
  height: 5vh;
  width: 4vw;
  transition: all 1s;
}

.zayn1:hover {
  background-image: url("zayn1.png");
  transform: scale(1);
}

.logos1{
  position: fixed;
  top: 0;
  left: 350px;
}

h1{
  position: absolute;
  font-family: OneDirection, sans-serif;
  color: white;
}

.tommo{
  font-size: 200px;
  left: 650px;
  top: 100px;
}

h2{
  position: absolute;
  font-family: 'Goldman', cursive;
  color: white;
  font-weight: 700;
}

img{
  position: absolute;
}

.tommo2{
  transform: scale(.9);
  top: 50px;
  left: 2040px;
}

.tommo1{
  transform: scale(.9);
  top: 40px;
  left: -30px;
}

.inline-block {
  position: relative;
  width: 397px;
  height: 397px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 500px;
  left: 25px;
  transition: all 1s;
}

.XfactorLouis{
  background-image: url("xfactorlouis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.XfactorLouis:hover {
  background-image: url(2010louis.txt);
}

.UANLouis{
  background-image: url("Uanlouis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.UANLouis:hover {
  background-image: url("2011louis.gif");
  }

.TMHLouis{
  background-image: url("TMHlouis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TMHLouis:hover {
  background-image: url("2012louis.gif");
  }

.MMLouis{
  background-image: url("MMlouis.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MMLouis:hover {
  background-image: url("2013louis.gif");
  }

.FourLouis{
  background-image: url("Fourlouis.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FourLouis:hover {
  background-image: url("fourlouis.gif");
  background-position: 20% 20%;
  }

.MITAMLouis{
  background-image: url("MITAMlouis.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MITAMLouis:hover {
  background-image: url("2015louis.gif");
}

.holdonlouis{
  background-image: url("2016louis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.holdonlouis:hover {
  background-image: url(holdon.gif); 
}

.missyoulouis{
background-image: url("missyoulouis.jpg");
    background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.missyoulouis:hover{
  background-image: url("missyou.gif");
  background-position: center;
}

.judgelouis{
  background-image: url("2018louiss.png");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.judgelouis:hover {
  background-image: url(judgelouis.gif);
}

.twoofus{
 background-image: url("2017louis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.twoofus:hover {
  background-image: url("2019louis.gif");
  background-position: left;
}

.walls{
  background-image: url("walls.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.walls:hover {
  background-image: url("2020louis.gif");
  background-position: top;
}

.evolution{
    background-image: url("maybe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.evolution:hover{
  background-image: url("beforeafterlouis.txt");
}

iframe {
  display: none;
  position: absolute;
  transition: all 1s;
}

.wallsalbum{
  font-size: 100px;
  left: 1110px;
  top: 1520px;
}

.inline-block1{
  position: relative;
  width: 397px;
  height: 497px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 875px;
  left: 25px;
  transition: all 1s;
  background-image: url("wallscover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.mind:hover .mindsong {
  display: block;
}

.mind:after {
  position: absolute;
  content: "1. Kill My Mind";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.break:hover .breaksong {
  display: block;
}

.break:after {
  position: absolute;
  content: "2. Don't Let It Break Your Heart";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.two:hover .twosong {
  display: block;
}

.two:after {
  position: absolute;
  content: "3. Two of Us";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.made:hover .madesong {
  display: block;
}

.made:after {
  position: absolute;
  content: "4. We Made It";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.young:hover .youngsong {
  display: block;
}

.young:after {
  position: absolute;
  content: "5. Too Young";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.walls1:hover .walls1song {
  display: block;
}

.walls1:after {
  position: absolute;
  content: "6. Walls";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.habit:hover .habitsong {
  display: block;
}

.habit:after {
  position: absolute;
  content: "7. Habits";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.always:hover .alwayssong {
  display: block;
}

.always:after {
  position: absolute;
  content: "8. Always You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.fearless:hover .fearlesssong {
  display: block;
}

.fearless:after {
  position: absolute;
  content: "9. Fearless";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.perfect:hover .perfectsong {
  display: block;
}

.perfect:after {
  position: absolute;
  content: "10. Perfect Now";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.defenceless:hover .defencelesssong {
  display: block;
}

.defenceless:after {
  position: absolute;
  content: "11. Defenceless";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.brave:hover .bravesong {
  display: block;
}

.brave:after {
  position: absolute;
  content: "12. Only the Brave";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.singleslouis{
  font-size: 100px;
  left: 1050px;
  top: 2870px;
}

.inline-block2{
  position: relative;
  width: 400px;
  height: 500px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 150px;
  top: 1200px;
  left: 225px;
  transition: all 1s;
}

.holdon{
  background-image: url("holdon.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.holdon:hover .holdonsong {
  display: block;
}

.holdon:after {
  position: absolute;
  content: "1. Just Hold On ft. Steve Aoki";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.back{
  background-image: url("backtoyou.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.back:hover .backsong {
  display: block;
}

.back:after {
  position: absolute;
  content: "2. Back to You ft. Bebe Rexha";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.like{
  background-image: url("justlike.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.like:hover .likesong {
  display: block;
}

.like:after {
  position: absolute;
  content: "3. Just Like You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.miss{
    background-image: url("missyou.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.miss:hover .misssong {
  display: block;
}

.miss:after {
  position: absolute;
  content: "4. Miss You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

@media (max-width: 1024px){
  .navbar1{
    position: fixed;
  }

  .one1{
    position: fixed;
    top: 10px;
    left: 470px;
    height: 4vh;
  }

  .louis1{
    position: fixed;
    top: 10px;
    left: 600px;
    height: 4vh;
  }

  .louis1:hover {
    left: 600px;
  }

  .harry1{
    position: fixed;
    top: 5px;
    left: 675px;
    height: 5vh;
  }

  .niall1{
    position: fixed;
    top: 7px;
    left: 750px;
    height: 5vh;
  }

  .liam1{
    position: fixed;
    top: 10px;
    left: 825px;
    height: 4vh;
  }

  .zayn1{
    position: fixed;
    top: 8px;
    left: 920px;
    height: 5vh;
  }

    .tommo{
    font-size: 80px;
    left: 250px;
    top: 100px;
    }

    .tommo1{
      transform: scale(.41);
      top: -155px;
      left: -153px;
    }

    .tommo2{
      transform: scale(.35);
      top: -235px;
      left: 623px;
    }

    .inline-block {
    position: relative;
    width: 147px;
    height: 147px;
    background-color: rgb(32, 180, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 250px;
    left: 15px;
  }

  .wallsalbum{
    font-size: 70px;
    top: 630px;
    left: 400px
  }

    .inline-block1 {
    position: relative;
    width: 147px;
    height: 197px;
    left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 450px;
  }

  .album1{
    width: 147px;
    height: 147px;
  }

    .all1:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .all11:after {
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

 .singleslouis{
    font-size: 70px;
    top: 1210px;
    left: 390px
  }

   .inline-block2 {
    position: relative;
    width: 207px;
    height: 257px;
    left: 15px;
    margin-right: 42px;
    top: 600px;
  }

  .singles{
      width: 207px;
        height: 207px;
  }
  }