@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{

  background-color: rgb(148, 15, 40);

}

.navbar1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 0, 42);
  z-index: 120;
}

.logo1{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 5vh;
}

.one1{
 position: fixed;
  background-image: url("onedirectionlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1200px;
  width: 9vw;
  height: 6vh;
transition: all 1s;
}

.one1:hover {
  background-image: url("1dlogo.png");
}

.louis1{
  position: fixed;
  background-image: url("louislogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1500px;
  width: 3vw;
  height: 4vh;
  transition: all 1s;
}

.louis1:hover {
  background-image: url("louis1.png");
  width: 4vw;
  left: 1480px;
}

.harry1{
  position: fixed;
  background-image: url("harrylogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1640px;
  width: 3vw;
  height: 6vh;
  transition: all 1s;
}

.harry1:hover {
  background-image: url("harry1.png");
}

.niall1{
  position: fixed;
  background-image: url("nialllogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1800px;
  height: 5vh;
  width: 3vw;
  transition: all 1s;
}

.niall1:hover {
  background-image: url("niall1.png");
  transform: scale(1.1);
}

.liam1{
  position: fixed;
  background-image: url("liamlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 17px;
  left: 1950px;
  height: 4vh;
  width: 4vw;
  transition: all 1s;
}

.liam1:hover {
  background-image: url("liam1.png");
  transform: scale(1.1);
}

.zayn1{
position: fixed;
  background-image: url("zaynlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 2120px;
  height: 5vh;
  width: 4vw;
  transition: all 1s;
}

.zayn1:hover {
  background-image: url("zayn1.png");
  transform: scale(1);
}

.logos1{
  position: fixed;
  top: 0;
  left: 350px;
}

h1{
  position: absolute;
  font-family: OneDirection, sans-serif;
  color: white;
}

.hs{
  font-size: 200px;
  left: 750px;
  top: 100px;
}

h2{
  position: absolute;
  font-family: 'Goldman', cursive;
  color: white;
  font-weight: 700;
}

img{
  position: absolute;
}

.hs2{
  transform: scale(.85);
  top: 55px;
  left: 2115px;
}

.hs1{
  transform: scale(.7);
  top: -30px;
  left: -30px;
}


.inline-block {
  position: relative;
  width: 397px;
  height: 397px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 500px;
  left: 25px;
  transition: all 1s;
}

.XfactorHarry{
  background-image: url("happyharry.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.XfactorHarry:hover {
  background-image: url("happyharry.txt");
  background-position: center;
  }

.UANHarry{
  background-image: url("UANharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.UANHarry:hover {
  background-image: url("uanharry.gif");
}

.TMHHarry{
  background-image: url("TMHharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TMHHarry:hover {
  background-image: url("tmhharry.gif");
}

.MMHarry{
  background-image: url("MMharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MMHarry:hover {
  background-image: url("whale2.gif");
}

.FourHarry{
  background-image: url("Fourharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FourHarry:hover {
  background-image: url("fourharry.gif");
}

.MITAMHarry{
  background-image: url("MITAMharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MITAMHarry:hover {
  background-image: url("mitamharry.gif");
}

.afterharry{
  background-image: url("2016harry.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.afterharry:hover {
  background-image: url("mitamharry2.gif");
}

.dunkirkharry{
  background-image: url("dunkirkharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dunkirkharry:hover {
  background-image: url("dunkirkharry.gif");
}

.liveharry{
  background-image: url("liveharry.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.liveharry:hover {
  background-image: url(2018harry.gif);
}

.lightsup{
  background-image: url("2019harry.jpg");
   background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.lightsup:hover {
  background-image: url(lightsup.gif);
  background-position: center;
}

.finelineharry{
  background-image: url("finelineharry.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.finelineharry:hover {
  background-image: url("whale.gif");
  background-position: center;
}

.evolution{
    background-image: url("maybe2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.evolution:hover{
  background-image: url("beforeafterharry.gif");
}

iframe {
  display: none;
  position: absolute;
  transition: all 1s;
}

.hsalbum{
  font-size: 100px;
  left: 1000px;
  top: 1500px;
}

.inline-block1 {
  position: relative;
  width: 450px;
  height: 550px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 900px;
  left: 100px;
  transition: all 1s;
  background-image: url("harrystyles.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.hallway:hover .hallwaysong {
  display: block;
}

.hallway:after {
  position: absolute;
  content: "1. Meet Me in the Hallway";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.times:hover .timessong {
  display: block;
}

.times:after {
  position: absolute;
  content: "2. Sign of the Times";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.carolina:hover .carolinasong {
  display: block;
}

.carolina:after {
  position: absolute;
  content: "3. Carolina";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.ghosts:hover .ghostssong {
  display: block;
}

.ghosts:after {
  position: absolute;
  content: "4. Two Ghosts";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.sweet:hover .sweetsong {
  display: block;
}

.sweet:after {
  position: absolute;
  content: "5. Sweet Creatures";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.only:hover .onlysong {
  display: block;
}

.only:after {
  position: absolute;
  content: "6. Only Angel";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.kiwi:hover .kiwisong {
  display: block;
}

.kiwi:after {
  position: absolute;
  content: "7. Kiwi";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.newyork:hover .newyorksong {
  display: block;
}

.newyork:after {
  position: absolute;
  content: "8. Ever Since New York";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.woman:hover .womansong {
  display: block;
}

.woman:after {
  position: absolute;
  content: "9. Woman";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.table:hover .tablesong {
  display: block;
}

.table:after {
  position: absolute;
  content: "10. From the Dining Table";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.fineline{
  font-size: 100px;
  left: 1030px;
  top: 2950px;
}

.inline-block2 {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 1200px;
  left: 10px;
  transition: all 1s;
  background-image: url("finelineharry.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.golden:hover .goldensong {
  display: block;
}

.golden:after {
  position: absolute;
  content: "1. Golden";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.watermelon:hover .watermelonsong {
  display: block;
}

.watermelon:after {
  position: absolute;
  content: "2. Watermelon Sugar";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.adore:hover .adoresong {
  display: block;
}

.adore:after {
  position: absolute;
  content: "3. Adore You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.lights:hover .lightssong {
  display: block;
}

.lights:after {
  position: absolute;
  content: "4. Lights Up";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.cherry:hover .cherrysong {
  display: block;
}

.cherry:after {
  position: absolute;
  content: "5. Cherry";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.falling:hover .fallingsong {
  display: block;
}

.falling:after {
  position: absolute;
  content: "6. Falling";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.lonely:hover .lonelysong {
  display: block;
}

.lonely:after {
  position: absolute;
  content: "7. To Be So Lonely";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.she:hover .shesong {
  display: block;
}

.she:after {
  position: absolute;
  content: "8. She";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.sunflower:hover .sunflowersong {
  display: block;
}

.sunflower:after {
  position: absolute;
  content: "9. Sunflower, Vol.6";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.canyon:hover .canyonsong {
  display: block;
}

.canyon:after {
  position: absolute;
  content: "10. Canyon Moon";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.kindness:hover .kindnesssong {
  display: block;
}

.kindness:after {
  position: absolute;
  content: "11. Treat People With Kindness";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.fine:hover .finesong {
  display: block;
}

.fine:after {
  position: absolute;
  content: "12. Fine Line";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

@media (max-width: 1024px){
  .navbar1{
    position: fixed;
  }

  .one1{
    position: fixed;
    top: 10px;
    left: 470px;
    height: 4vh;
  }

  .louis1{
    position: fixed;
    top: 10px;
    left: 600px;
    height: 4vh;
  }

  .louis1:hover{
    left: 600px
  }

  .harry1{
    position: fixed;
    top: 5px;
    left: 675px;
    height: 5vh;
  }

  .niall1{
    position: fixed;
    top: 7px;
    left: 750px;
    height: 5vh;
  }

  .liam1{
    position: fixed;
    top: 10px;
    left: 825px;
    height: 4vh;
  }

  .zayn1{
    position: fixed;
    top: 8px;
    left: 920px;
    height: 5vh;
  }

     .hs{
    font-size: 80px;
    left: 300px;
    top: 50px;
    }

    .hs1{
      transform: scale(.28);
      top: -225px;
      left: -165px;
    }

    .hs2{
      transform: scale(.3);
      top: -100px;
      left: 713px;
    }

     .inline-block {
    position: relative;
    width: 147px;
    height: 147px;
    background-color: rgb(32, 180, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 200px;
    left: 15px;
  }

  .hsalbum{
    font-size: 70px;
    top: 620px;
    left: 250px
  }
   .inline-block1 {
    position: relative;
    width: 180px;
    height: 230px;
    left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 450px;
  }

.fineline{
    font-size: 70px;
    top: 1300px;
    left: 350px
  }

   .inline-block2 {
    position: relative;
    width: 147px;
    height: 197px;
    left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 630px;
  }

 .album1{
    width: 180px;
    height: 180px;
  }

   .album2{
    width: 147px;
    height: 147px;
  }

    .all1:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .all11:after {
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

}