@font-face {
  font-family: OneDirection;
  src: url(OneDirection.ttf);
}

body{
  background-color: rgb(148, 15, 40);

}

.navbar1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 0, 42);
  z-index: 120;
}

.logo1{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 5vh;
}

.one1{
 position: fixed;
  background-image: url("onedirectionlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1200px;
  width: 9vw;
  height: 6vh;
transition: all 1s;
}

.one1:hover {
  background-image: url("1dlogo.png");
}

.louis1{
  position: fixed;
  background-image: url("louislogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1500px;
  width: 3vw;
  height: 4vh;
  transition: all 1s;
}

.louis1:hover {
  background-image: url("louis1.png");
  width: 4vw;
  left: 1480px;
}

.harry1{
  position: fixed;
  background-image: url("harrylogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 1640px;
  width: 3vw;
  height: 6vh;
  transition: all 1s;
}

.harry1:hover {
  background-image: url("harry1.png");
}

.niall1{
  position: fixed;
  background-image: url("nialllogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 1800px;
  height: 5vh;
  width: 3vw;
  transition: all 1s;
}

.niall1:hover {
  background-image: url("niall1.png");
  transform: scale(1.1);
}

.liam1{
  position: fixed;
  background-image: url("liamlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 17px;
  left: 1950px;
  height: 4vh;
  width: 4vw;
  transition: all 1s;
}

.liam1:hover {
  background-image: url("liam1.png");
  transform: scale(1.1);
}

.zayn1{
position: fixed;
  background-image: url("zaynlogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15px;
  left: 2120px;
  height: 5vh;
  width: 4vw;
  transition: all 1s;
}

.zayn1:hover {
  background-image: url("zayn1.png");
  transform: scale(1);
}

.logos1{
  position: fixed;
  top: 0;
  left: 350px;
}

h1{
  position: absolute;
  font-family: OneDirection, sans-serif;
  color: white;
}

.malik{
  font-size: 200px;
  left: 820px;
  top: 100px;
}

h2{
  position: absolute;
  font-family: 'Goldman', cursive;
  color: white;
  font-weight: 700;
}

img{
  position: absolute;
}

.Malik2{
  transform: scale(.65);
  top: -60px;
  left: 2035px;
}

.Malik1{
  transform: scale(.75);
  top: 0;
  left: 0;
}

.inline-block {
  position: relative;
  width: 397px;
  height: 397px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 500px;
  left: 25px;
  transition: all 1s;
}

iframe {
  display: none;
  position: absolute;
  transition: all 1s;
}

.XfactorZayn{
  background-image: url("xfactorzayn.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.XfactorZayn:hover {
  background-image: url(zaynxfactor.gif);
  background-position: center;
}

.UANZayn{
  background-image: url("uanzayn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.UANZayn:hover {
  background-image: url("uanzayn.gif");
}

.TMHZayn{
  background-image: url("TMHzayn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TMHZayn:hover {
  background-image: url("tmhzayn1.gif");
}

.MMZayn{
  background-image: url("MMzayn.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MMZayn:hover {
  background-image: url("mmzayn.gif");
}

.FourZayn{
  background-image: url("Fourzayn.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.FourZayn:hover {
  background-image: url("fourzayn.gif");
}

.afterzayn{
  background-image: url("zayn2015.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.afterzayn:hover {
  background-image: url("zaynafter.gif");
}

.MOMZayn{
  background-image: url("MOMzayn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MOMZayn:hover {
  background-image: url("momzayn.gif");
}

.IcarusZayn{
  background-image: url("Icaruszayn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.IcarusZayn:hover {
  background-image: url("icaruszayn.gif");
}

.zaynafter{
  background-image: url("zaynphoto1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zaynafter:hover {
  background-image: url('2018zayn.gif');
}

.lastzayn{
  background-image: url("2019zayn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lastzayn:hover {
  background-image: url('2019zayn.gif');
}

.maliknow{
  background-image: url("nowzaynn.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.maliknow:hover {
  background-image: url("2020zayn.gif");
}

.evolution{
    background-image: url("zaynevolve.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.evolution:hover{
  background-image: url("beforeafterzayn.gif");
}

.momalbum{
  font-size: 100px;
  left: 930px;
  top: 1500px;
}

.inline-block1{
  position: relative;
  width: 397px;
  height: 497px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 875px;
  left: 25px;
  transition: all 1s;
  background-image: url("mom.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.momintro:hover .momintrosong {
  display: block;
}

.momintro:after {
  position: absolute;
  content: "1. MiNd Of MiNdd (Intro)";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.pillow:hover .pillowsong {
  display: block;
}

.pillow:after {
  position: absolute;
  content: "2. PiLlOwT4lK";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.you:hover .yousong {
  display: block;
}

.you:after {
  position: absolute;
  content: "3. iT's YoU";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.befour:hover .befoursong {
  display: block;
}

.befour:after {
  position: absolute;
  content: "4. BeFoUr";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.she:hover .shesong {
  display: block;
}

.she:after {
  position: absolute;
  content: "5. sHe";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.drunk:hover .drunksong {
  display: block;
}

.drunk:after {
  position: absolute;
  content: "6. dRuNk";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.flower:hover .flowersong {
  display: block;
}

.flower:after {
  position: absolute;
  content: "7. INTERMISSION: fLoWer";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.rear:hover .rearsong {
  display: block;
}

.rear:after {
  position: absolute;
  content: "8. rEaR vIeW";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.wrong:hover .wrongsong {
  display: block;
}

.wrong:after {
  position: absolute;
  content: "9. wRoNg ft. Kehlani";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.fool:hover .foolsong {
  display: block;
}

.fool:after {
  position: absolute;
  content: "10. fOoL fOr YoU";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.bord:hover .bordsong {
  display: block;
}

.bord:after {
  position: absolute;
  content: "11. BoRdErZ";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.truth:hover .truthsong {
  display: block;
}

.truth:after {
  position: absolute;
  content: "12. tRuTh";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.zade:hover .zadesong {
  display: block;
}

.zade:after {
  position: absolute;
  content: "13.  lUcOzAdE";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.tio:hover .tiosong {
  display: block;
}

.tio:after {
  position: absolute;
  content: "14.  TiO";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.blue:hover .bluesong {
  display: block;
}

.blue:after {
  position: absolute;
  content: "15. BLUE";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.bright:hover .brightsong {
  display: block;
}

.bright:after {
  position: absolute;
  content: "16. BRIGHT";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.would:hover .wouldsong {
  display: block;
}

.would:after {
  position: absolute;
  content: "17.  LIKE I WOULD";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.dont:hover .dontsong {
  display: block;
}

.dont:after {
  position: absolute;
  content: "18.  SHE DON'T LOVE ME";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.icarusalbum{
  font-size: 100px;
  left: 970px;
  top: 3380px;
}

.inline-block2 {
   position: relative;
  width: 397px;
  height: 497px;
  background-color: rgb(182, 30, 63);
  position: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 1200px;
  left: 25px;
  transition: all 1s;
  background-image: url("icarus.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.let:hover .letsong {
  display: block;
}

.let:after {
  position: absolute;
  content: "1. Let Me";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.natural:hover .naturalsong {
  display: block;
}

.natural:after {
  position: absolute;
  content: "2. Natural";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.life:hover .lifesong {
  display: block;
}

.life:after {
  position: absolute;
  content: "3. Back To Life";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.common:hover .commonsong {
  display: block;
}

.common:after {
  position: absolute;
  content: "4. Common";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.imprint:hover .imprintsong {
  display: block;
}

.imprint:after {
  position: absolute;
  content: "5. Imprint";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.still:hover .stillsong {
  display: block;
}

.still:after {
  position: absolute;
  content: "6. Stand Still";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.tonight:hover .tonightsong {
  display: block;
}

.tonight:after {
  position: absolute;
  content: "7. Tonight";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.stars:hover .starssong {
  display: block;
}

.stars:after {
  position: absolute;
  content: "8. Flight Of The Stars";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.got:hover .gotsong {
  display: block;
}

.got:after {
  position: absolute;
  content: "9. If I Got You";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.talk:hover .talksong {
  display: block;
}

.talk:after {
  position: absolute;
  content: "10. Talk To Me";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.there:hover .theresong {
  display: block;
}

.there:after {
  position: absolute;
  content: "11. There You Are";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.mind:hover .mindsong {
  display: block;
}

.mind:after {
  position: absolute;
  content: "12. I Don't Mind";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.interlude:hover .interludesong {
  display: block;
}

.interlude:after {
  position: absolute;
  content: "13.  Icarus Interlude";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.guy:hover .guysong {
  display: block;
}

.guy:after {
  position: absolute;
  content: "14.  Good Guy";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.wish:hover .wishsong {
  display: block;
}

.wish:after {
  position: absolute;
  content: "15. You Wish You Knew";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.sour:hover .soursong {
  display: block;
}

.sour:after {
  position: absolute;
  content: "16. Sour Diesel";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.satisfaction:hover .satisfactionsong {
  display: block;
}

.satisfaction:after {
  position: absolute;
  content: "17. Satisfaction";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.scripted:hover .scriptedsong {
  display: block;
}

.scripted:after {
  position: absolute;
  content: "18. Scripted";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.entertainer:hover .entertainersong {
  display: block;
}

.entertainer:after {
  position: absolute;
  content: "19. Entertainer";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.all:hover .allsong {
  display: block;
}

.all:after {
  position: absolute;
  content: "20. All That";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.good:hover .goodsong {
  display: block;
}

.good:after {
  position: absolute;
  content: "21. Good Years";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.fresh:hover .freshsong {
  display: block;
}

.fresh:after {
  position: absolute;
  content: "22. Fresh Air";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.rainberry:hover .rainberrysong {
  display: block;
}

.rainberry:after {
  position: absolute;
  content: "23. Rainberry";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.insomnia:hover .insomniasong {
  display: block;
}

.insomnia:after {
  position: absolute;
  content: "24. Insomnia";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.candle:hover .candlesong {
  display: block;
}

.candle:after {
  position: absolute;
  content: "25. No Candle No Light ft. Nicki Minaj";
  bottom: 15px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 30px;
}

.fingers:hover .fingerssong {
  display: block;
}

.fingers:after {
  position: absolute;
  content: "26. Fingers";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.much:hover .muchsong {
  display: block;
}

.much:after {
  position: absolute;
  content: "27. Too Much ft. Timbaland";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.time:hover .timesong {
  display: block;
}

.time:after {
  position: absolute;
  content: "28. Still Got Time ft. PARTYNEXTDOOR";
  bottom: 15px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 30px;
}

.dusk:hover .dusksong {
  display: block;
}

.dusk:after {
  position: absolute;
  content: "29. Dusk Til Dawn ft. Sia";
  bottom: 30px;
  left: 20px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

@media (max-width: 1024px){
  .navbar1{
    position: fixed;
  }

  .one1{
    position: fixed;
    top: 10px;
    left: 470px;
    height: 4vh;
  }

  .louis1{
    position: fixed;
    top: 10px;
    left: 600px;
    height: 4vh;
  }

  .louis1:hover {
    left: 600px;
  }

  .harry1{
    position: fixed;
    top: 5px;
    left: 675px;
    height: 5vh;
  }

  .niall1{
    position: fixed;
    top: 7px;
    left: 750px;
    height: 5vh;
  }

  .liam1{
    position: fixed;
    top: 10px;
    left: 825px;
    height: 4vh;
  }

  .zayn1{
    position: fixed;
    top: 8px;
    left: 920px;
    height: 5vh;
  }

    .malik{
    font-size: 80px;
    left: 300px;
    top: 50px;
    }

    .Malik1{
      transform: scale(.3);
      top: -215px;
      left: -103px;
    }

    .Malik2{
      transform: scale(.24);
      top: -245px;
      left: 627px;
    }

    .inline-block {
    position: relative;
    width: 147px;
    height: 147px;
    background-color: rgb(32, 180, 63);
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 200px;
    left: 15px;
  }

  .momalbum{
    font-size: 70px;
    top: 600px;
    left: 250px
  }

   .inline-block1 {
    position: relative;
    width: 147px;
    height: 197px;
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 400px;
    left: 15px;
  }

  .icarusalbum{
    font-size: 70px;
    top: 1420px;
    left: 300px
  }

   .inline-block2 {
    position: relative;
    width: 147px;
    height: 197px;
    position: center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    top: 600px;
    left: 15px;
  }

  .album1{
    width: 147px;
    height: 147px;
  }

    .all1:after {
    bottom: 5px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .all11:after {
    bottom: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }
   .all111:after {
    bottom: 5px;
    left: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  }