.rbox{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.r2{
	position: absolute;
	width: 115px;
	height: 100px;
	top: 50px;
	left: 105px;
	background-color: rgb(0, 190, 250);
	border-radius: 50%;
}

.r3{
	position: absolute;
	width: 70px;
	height: 100px;
	top: 50px;
	left: 90px;
	background-color: rgb(0, 0, 0);
}

.r4{
	position: absolute;
	top: 195px;
	left: 160px;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 80px solid rgb(0, 190, 250);

}

.abox{
	position: absolute;
	top: 25px;
	left: 290px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.a2{
	position: absolute;
	top: 50px;
	left: 420px;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 80px solid rgb(240, 0, 150);
}

.a3{
	position: absolute;
	top: 195px;
	left: 420px;
	width: 80px;
	height: 80px;
	background-color: rgb(240, 0, 150);
}

.nbox{
	position: absolute;
	top: 25px;
	left: 555px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.n2{
	position: absolute;
	top: 195px;
	left: 685px;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 82px solid rgb(0, 90, 200);
}

.n3{
	position: absolute;
	top: 25px;
	left: 685px;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 80px solid rgb(0, 90, 200);
	transform: rotate(180deg);

}

.gbox{
	position: absolute;
	top: 25px;
	left: 820px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.g2{
	position: absolute;
	top: 100px;
	left: 950px;
	width: 120px;
	height: 30px;
	background-color: rgb(180, 30, 140);
}

.g3{
	position: absolute;
	top: 115px;
	left: 950px;
	width: 55px;
	height: 70px;
	background-color: rgb(180, 30, 140);
}

.g4{
	position: absolute;
	top: 165px;
	left: 950px;
	width: 85px;
	height: 40px;
	background-color: rgb(180, 30, 140);
}

.ebox{
	position: absolute;
	top: 25px;
	left: 1085px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.e2{
	position: absolute;
	top: 100px;
	left: 1225px;
	width: 110px;
	height: 30px;
	background-color: rgb(0, 150, 150);
}

.e3{
	position: absolute;
	top: 175px;
	left: 1225px;
	width: 110px;
	height: 30px;
	background-color: rgb(0, 150, 150);
}

.sbox{
	position: absolute;
	top: 25px;
	left: 1350px;
	width: 250px;
	height: 250px;
	background-color: rgb(0, 0, 0);
}

.s2{
	position: absolute;
	top: 100px;
	left: 1490px;
	width: 110px;
	height: 30px;
	background-color: rgb(240, 30, 75);
}

.s3{
	position: absolute;
	top: 175px;
	left: 1350px;
	width: 110px;
	height: 30px;
	background-color: rgb(240, 30, 75);
}